<style>
  html, body {
    font-size: 14px;
    min-width: 350px;
    min-height: 40px;
  }
  body {
    margin: 8px;
  }
</style>

<p>
  Open the DevTools and select the <strong>ASD</strong> tab to start using <strong>Atlassian Server DevTools</strong>
</p>
