@toolbar-height: 26px;
@toolbar-border-size: 1px;
@toolbar-border-color: #dadada;

.Toolbar {
  position: relative;
  white-space: nowrap;
  height: (@toolbar-height + @toolbar-border-size);
  overflow: hidden;
  display: flex;
  flex: none;
  align-items: center;
  border-bottom: @toolbar-border-size solid @toolbar-border-color;
}
