.ToolbarField {
  height: 19px;
  padding: 4px 3px 3px 3px;
  margin: 1px 0;
  background-color: white;
  border: solid 1px #d8d8d8;
  border-radius: 2px;
  min-width: 35px;
  flex: 1;
}

.ToolbarFieldWrapper {
  flex-grow: 0.2;
  flex-shrink: 1;
}
